<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">

    <h1 class="text-white">RELAXXY</h1>
    <h2 class="text-white">Find your best Happiness</h2>
    <div class="row">

        <p class="link">
          <%= link_to posts_path do %>
        お気に入りのお店を見つけよう
        <% end %>
        </p>
      
    </div>
  </div>
</div>
